<body>
<ul id="menu">
	<li><a title="Home" href="/">Question 1</a></li>
	<li><a title="About Me" href="/about">Question 2</a></li>
	<li><a title="Contact Me" href="/contact">Question 3</a></li>
	<li><a title="Contact Me" href="/contact">Question 4</a></li>
	<li><a title="Contact Me" href="/contact">Question 5</a></li>
	<li><a title="Contact Me" href="/contact">Question 6</a></li>
	<li><a title="Contact Me" href="/contact">Question 7</a></li>
	<li><a title="Contact Me" href="/contact">Question 8</a></li>
	<li><a title="Contact Me" href="/contact">Question 9</a></li>
	<li><a title="Contact Me" href="/contact">Question 10</a></li>
	<li><a title="Contact Me" href="/contact">Question 11</a></li>
	<li><a title="Contact Me" href="/contact">Question 12</a></li>
	<li><a title="Contact Me" href="/contact">Question 13</a></li>
	<li><a title="Contact Me" href="/contact">Question 14</a></li>
	<li><a title="Contact Me" href="/contact">Question 15</a></li>
	<li><a title="Contact Me" href="/contact">Question 16</a></li>
	<li><a title="Contact Me" href="/contact">Question 17</a></li>
	<li><a title="Contact Me" href="/contact">Question 18</a></li>
	<li><a title="Contact Me" href="/contact">Question 19</a></li>
	<li><a title="Contact Me" href="/contact">Question 20</a></li>
</ul>
<div id="page">
   <a href="#" id="toggle-menu"><i class="fa fa-bars fa-2x"></i></a>
</div>
		<div class="container" ng-controller="questionCtrl as question">
      <input id="round" type="submit" value="Submit" />
			<header>
				<h1>Qwinix Aptitude Test<span>First part of recruitment process</span></h1>
			</header>
      <!-- <form class="ac-custom ac-checkbox ac-cross" autocomplete="off">
			<section ng-repeat="question in question.questionObj">
				
					<h2>How do you collaboratively administrate empowered markets via plug-and-play networks?</h2>
					<ul>
						<li><input id="cb1" name="cb1" type="checkbox"><label for="cb1">Efficiently unleash information</label></li>
					</ul>
				
			</section>
      </form> -->
      <section >
				<form class="ac-custom ac-radio ac-fill" autocomplete="off" ng-repeat="question in question.questionObj">
					<h2>{{question.Id}}.&nbsp;{{question.Title}}</h2>
					<ul>
						<li><input id="r1" name="r1" type="radio" value="{{question.Option_1}}" ng-model="question.option_1"><label for="r1">{{question.Option_1}}</label></li>
						<li><input id="r2" name="r1" type="radio" value="{{question.Option_2}}"><label for="r2">{{question.Option_2}}</label></li>
						<li><input id="r3" name="r1" type="radio" value="{{question.option_3}}"><label for="r3">{{question.Option_3}}</label></li>
						<li><input id="r4" name="r1" type="radio" value="{{question.option_4}}"><label for="r4">{{question.Option_4}}</label></li>
					</ul>
				</form>
			</section>


		</div><!-- /container -->

		<script src="../scripts/question/svgcheckbx.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      ( function( $ ) {
 /***
  * Run this code when the #toggle-menu link has been tapped
  * or clicked
  */
 $( '#toggle-menu' ).on( 'touchstart click', function(e) {
  e.preventDefault();

  var $body = $( 'body' ),
      $page = $( '#page' ),
      $menu = $( '#menu' ),

      /* Cross browser support for CSS "transition end" event */
      transitionEnd = 'transitionend webkitTransitionEnd otransitionend MSTransitionEnd';

  /* When the toggle menu link is clicked, animation starts */
  $body.addClass( 'animating' );

  /***
   * Determine the direction of the animation and
   * add the correct direction class depending
   * on whether the menu was already visible.
   */
  if ( $body.hasClass( 'menu-visible' ) ) {
   $body.addClass( 'right' );
  } else {
   $body.addClass( 'left' );
  }

  /***
   * When the animation (technically a CSS transition)
   * has finished, remove all animating classes and
   * either add or remove the "menu-visible" class
   * depending whether it was visible or not previously.
   */
  $page.on( transitionEnd, function() {
   $body
    .removeClass( 'animating left right' )
    .toggleClass( 'menu-visible' );

   $page.off( transitionEnd );
  } );
 } );
} )( jQuery );
    });
    </script>
</body> 