<ul id="menu">
	<li><a href="#!#1">Question 1</a></li>
	<li><a href="#!#2">Question 2</a></li>
	<li><a href="#3">Question 3</a></li>
	<li><a href="#4">Question 4</a></li>
	<li><a href="#5">Question 5</a></li>
	<li><a href="#6">Question 6</a></li>
	<li><a href="#7">Question 7</a></li>
	<li><a href="#8">Question 8</a></li>
	<li><a href="#9">Question 9</a></li>
	<li><a href="#10">Question 10</a></li>
	<li><a href="#11">Question 11</a></li>
	<li><a href="#12">Question 12</a></li>
	<li><a href="#13">Question 13</a></li>
	<li><a href="#14">Question 14</a></li>
	<li><a href="#15">Question 15</a></li>
	<li><a href="#16">Question 16</a></li>
	<li><a href="#17">Question 17</a></li>
	<li><a href="#18">Question 18</a></li>
	<li><a href="#19">Question 19</a></li>
	<li><a href="#20">Question 20</a></li>
</ul>
<div id="page">
	<a href="#" id="toggle-menu"><i class="fa fa-bars fa-2x"></i></a>
</div>
<div class="container" ng-controller="questionCtrl as question">


		<div id="round-timer">
			<timer class="counttimer" interval="60000" countdown="question.timer">{{countdown}} min{{minutesS}}</timer>
		</div>

		<header>
			<h1>Qwinix Aptitude Test<span>First part of recruitment process</span></h1>
		</header>
		</div>
		<div class="container1">
		<section>
			<form class="radio" autocomplete="off"  name="questionForm" ng-submit="question.submitAnswers()">
				<div id="{{$index + 1}}" ng-repeat="question in question.questionObj track by $index">
					<h3>{{$index + 1}}.&nbsp; &nbsp;{{question.Title}}</h3>
					<ul>
						<li class="option-field" ng-repeat="option in question.Options track by $index">
							<span>
								<input type="radio" name="option_question_{{question.Id}}" ng-model="question.selectedOption" ng-value="option"/>
								{{option}}
							</span>						
						</li> 
					</ul>
				</div>
				<input id="round" type="submit" value="Submit" />
			</form>
		</section>

	
</div>

<script src="../scripts/question/svgcheckbx.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		( function( $ ) {
 /***
  * Run this code when the #toggle-menu link has been tapped
  * or clicked
  */
  $( '#toggle-menu' ).on( 'touchstart click', function(e) {
  	e.preventDefault();

  	var $body = $( 'body' ),
  	$page = $( '#page' ),
  	$menu = $( '#menu' ),

  	/* Cross browser support for CSS "transition end" event */
  	transitionEnd = 'transitionend webkitTransitionEnd otransitionend MSTransitionEnd';

  	/* When the toggle menu link is clicked, animation starts */
  	$body.addClass( 'animating' );

  /***
   * Determine the direction of the animation and
   * add the correct direction class depending
   * on whether the menu was already visible.
   */
   if ( $body.hasClass( 'menu-visible' ) ) {
   	$body.addClass( 'right' );
   } else {
   	$body.addClass( 'left' );
   }

  /***
   * When the animation (technically a CSS transition)
   * has finished, remove all animating classes and
   * either add or remove the "menu-visible" class
   * depending whether it was visible or not previously.
   */
   $page.on( transitionEnd, function() {
   	$body
   	.removeClass( 'animating left right' )
   	.toggleClass( 'menu-visible' );

   	$page.off( transitionEnd );
   } );
 } );
} )( jQuery );
});
</script>
